


@RestController
@RequestMapping("soa/${table.serviceNameInapiControllerName}")
public class ${table.apiControllerName} extends BaseApiController {

    private final ${table.entityName}Service ${table.entityNameVO}Service;

    @Autowired
    public ${table.apiControllerName}(${table.entityName}Service ${table.entityNameVO}Service) {
        this.${table.entityNameVO}Service = ${table.entityNameVO}Service;
    }


    @PostMapping("find${table.entityName}List")
    public PageInfo<${table.entityName}Vo> find${table.entityName}List(@RequestBody ${table.entityName}Vo ${table.entityNameVO}Vo){
        Page${table.entityName}Vo> page = ${table.entityNameVO}Service.find${table.entityName}List(${table.entityNameVO}Vo);
        PageInfo<${table.entityName}Vo> pageInfo = new PageInfo<>(page);
        return pageInfo;
    }

    @PostMapping("save")
    public AjaxJson save(@RequestBody ${table.entityName}Vo ${table.entityNameVO}Vo){
        AjaxJson aj = new AjaxJson();
        try{
            ${table.entityNameVO}Service.save(${table.entityNameVO}Vo);
        }catch(Exception e){
            e.printStackTrace();
            aj.setFailedMsg(e.getMessage());
        }
        return aj;
    }

    @GetMapping("get${table.entityName}ById")
    public ${table.entityName}Vo get${table.entityName}ById(@RequestParam("id") String id){
        return ${table.entityNameVO}Service.get${table.entityName}ById(id);
    }

    @GetMapping("del")
    public AjaxJson del(@RequestParam("id") String id){
        AjaxJson aj = new AjaxJson();
        try{
            ${table.entityNameVO}Service.del(id);
        }catch(Exception e){
            e.printStackTrace();
            aj.setFailedMsg(e.getMessage());
        }

        return aj;
    }

    /**
     * 查询应用列表，不分页
     * @return 应用列表
     */
    @PostMapping("${table.entityNameVO}TreeGrid")
    public List<${table.entityName}Vo> ${table.entityNameVO}TreeGrid() {
        return ${table.entityNameVO}Service.${table.entityNameVO}TreeGrid();
    }

}