package ${package.Entity};

import com.fasterxml.jackson.annotation.JsonFormat;
#if(${activeRecord})
import com.baomidou.mybatisplus.activerecord.Model;
#end
#if(${idGenType}!="ID_WORKER")
import com.baomidou.mybatisplus.enums.IdType;
import com.baomidou.mybatisplus.annotations.TableId;
#end
import com.baomidou.mybatisplus.annotations.TableField;
#if(${addTabeName})
import com.baomidou.mybatisplus.annotations.TableName;
import com.oracle.webservices.internal.api.databinding.DatabindingMode;
#end
#if(${table.hasDate})
import java.util.Date;
#end
#if(${table.hasDecimal})
import java.math.BigDecimal;
#end
import lombok.Data;

/**
 * <p>
 * ${table.comment}
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${addTabeName})
@TableName("${table.name}")
#end
@Data
public class ${entity} {

#foreach($field in ${table.fields})
    /**
     * ${field.comment}
     */
#if(${field.keyFlag} && ${idGenType}!="ID_WORKER")
    @TableId(type = IdType.${idGenType})
#end
#if($field.convert && ${field.name.toLowerCase()} != ${field.propertyName.toLowerCase()})
    @TableField(value="${field.name}")
#end
#if(${field.propertyType.equals("Date")})
    @JsonFormat(timezone = "GMT+8", pattern = "yyyy-MM-dd HH:mm:ss")
#end
    private ${field.propertyType} ${field.propertyName};
#end

}
