

@Component
public class ApplicationTypeDegradedFeignClient implements ApplicationTypeFeignClient{

    @Override
    public PageInfo<ApplicationTypeVo> findApplicationTypeList(ApplicationTypeVo applicationTypeVo) {
        return new PageInfo<ApplicationTypeVo>();
    }

    @Override
    public List<ApplicationTypeVo> applicationTypeTreeGrid() {
        return null;
    }

    @Override
    public AjaxJson save(ApplicationTypeVo applicationTypeVo) {
        return new AjaxJson(false,"操作失败");
    }

    @Override
    public ApplicationTypeVo getApplicationTypeById(String id) {
        return null;
    }

    @Override
    public AjaxJson del(String id) {
        return new AjaxJson(false,"操作失败");
    }

}